<a href="https://colab.research.google.com/github/3OMDEH/Machine-Learning-Projects-Beginner-/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Introduction to Pandas**

![image.png]()

**Pandas** is an open-source Python library designed for easy and efficient data manipulation and analysis.

Created by **Wes McKinney** in 2008, Pandas was developed to provide a high-performance tool for handling structured data in Python.

The name "Pandas" is derived from **"Panel Data"**, a term from econometrics, although the Panel data structure is no longer widely used in Pandas.

### Key Features of Pandas:
- **Data Loading**: Easily read data from different file formats such as CSV, Excel, JSON, and more into memory as a **DataFrame**.
- **Data Manipulation**: Perform operations such as inserting, updating, and deleting rows or columns within the DataFrame.
- **Missing Data Handling**: Efficiently manage missing or incomplete data with built-in tools.
- **Data Merging**: Combine multiple datasets with high performance.
- **Group By**: Aggregate and transform data by grouping based on specific criteria.
- **Data Exporting**: Export the processed data to various file formats like CSV, Excel, and others.




---

# **Pandas Data Strucure**

![image.png]()

Pandas is built on top of **NumPy**, which gives it powerful performance and efficiency when handling large datasets. Pandas provides the following main data structures:

1. **Series**:
   - A one-dimensional (1D) array-like structure that holds homogeneous data, meaning all elements are of the same type.
   - The **size** of a Series is immutable (fixed), but the values within it can be changed (mutable).

2. **DataFrame**:
   - A two-dimensional (2D) tabular data structure, similar to a spreadsheet or SQL table, where each column can hold data of a different type (heterogeneous).
   - Both the **size** and the **data** in a DataFrame are mutable, allowing easy modification.

> **Note**: The **Panel** data structure, previously used for 3D data, has been deprecated in recent versions of Pandas. For working with higher-dimensional data (3D or more), its recommended to use **MultiIndex DataFrames** or external libraries like **xarray**.

# **Series**

![image.png]()

A **Pandas Series** is a one-dimensional array-like object that can hold any data type, such as integers, strings, floats, or even Python objects. It is similar to a column in a table or a list in Python but comes with additional functionality.

### Key Features of a Pandas Series:
- **Homogeneous Data**: All elements in a Series must be of the same data type.
- **Labeled Index**: Each element in a Series is associated with an index label, allowing for easy access to individual elements.
- **Mutable Data**: While the values within a Series can be changed (mutable), the size (number of elements) is fixed once the Series is created.

## **1- Create Series**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create empty series
s = pd.Series()

In [ ]:
s

Series([], dtype: object)

### **1.1** Create Series from ndarray

In [ ]:
intArr = np.arange(10)

sArr = np.array(['a', 'b','c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

intSer = pd.Series(data = intArr)

sSer = pd.Series(data = sArr)


# We did not pass any index, so by default,
# it assigned the indexes ranging from 0 to len(data)-1

In [ ]:
intSer

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
sSer

0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
8    i
9    j
dtype: object

In [ ]:
intArr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
# Create Series by index
ser = pd.Series(data=intArr, index=['a', 'b','c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
ser

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [ ]:
ser = pd.Series(data=intArr, index=[True, True,True, True, True, True, False, False, False, False])
ser

True     0
True     1
True     2
True     3
True     4
True     5
False    6
False    7
False    8
False    9
dtype: int64

In [ ]:
ser[True]

True    0
True    1
True    2
True    3
True    4
True    5
dtype: int64

### **1.2** Create Series from dictionary

In [ ]:
# Create Series using dictionary

dictData = {'a' : 0., 'b' : 1., 'c' : 2.}

s = pd.Series(data = dictData)
s

a    0.0
b    1.0
c    2.0
dtype: float64

In [ ]:
# Create Series using dictionary and passing index
dictData = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data = dictData, index=[0,1,2])
s

0   NaN
1   NaN
2   NaN
dtype: float64

In [ ]:
dictData = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data=dictData, index=[0,1,'c', 5])
print(s)

0    NaN
1    NaN
c    2.0
5    NaN
dtype: float64

In [ ]:
dictData = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data=dictData, index=[0,1,'a', 'b','c', 5])
print(s)

0    NaN
1    NaN
a    0.0
b    1.0
c    2.0
5    NaN
dtype: float64

In [ ]:
dictData = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(dictData.values(), index=[0,1,2])
s

0    0.0
1    1.0
2    2.0
dtype: float64

In [ ]:
dictData = {'a' : 0., 'b' : 1., 'c' : 2.5, 'd': 2.1}
s = pd.Series(data=dictData.keys(), index=dictData.values())
s

0.0    a
1.0    b
2.5    c
2.1    d
dtype: object

In [ ]:
dictData.items()

In [ ]:
dictData = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(dictData.items(), index=[0,1,2])
s

0    (a, 0.0)
1    (b, 1.0)
2    (c, 2.0)
dtype: object

In [ ]:
dictData = {'a' : 0., 'b' : 1., 'c' : 2., 'd': 2}
s = pd.Series(dictData.keys(), index=[0,1,2,2])
s

0    a
1    b
2    c
2    d
dtype: object

In [ ]:
s[2]

2    c
2    d
dtype: object

### **1.3** Create Series from list

In [ ]:
listData = [34, 21, "40", 7.9]

ser = pd.Series(data=listData)

print(ser)

0     34
1     21
2     40
3    7.9
dtype: object

In [ ]:
# Name the Series
ser = pd.Series(data = listData, name="SeriesFromList")

In [ ]:
ser.name

'SeriesFromList'

In [ ]:
# rename Series
ser.name = 'MahmoudSeries'

print(ser)

0     34
1     21
2     40
3    7.9
Name: MahmoudSeries, dtype: object

In [ ]:
# Get Series index
ser.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
list(ser.index)

[0, 1, 2, 3]

In [ ]:
intArr = np.arange(10)
ser = pd.Series(data=intArr, index=['a', 'b','c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])
print(ser)

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [ ]:
# Access to values in Series as array
ser.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
type(ser.values)

numpy.ndarray

In [ ]:
# You can access the underlying data array using .to_numpy():
ser.to_numpy()

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

## **2- Indexing and Slicing Series**

### **2.1** Integer Indexing

In [ ]:
ser

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [ ]:
ser.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

In [ ]:
# Access to the first index in Series

print("By 'a' index : ", ser["a"])
print("By 0 index : ", ser[0])

By 'a' index :  0
By 0 index :  0

<ipython-input-36-ef893f377d8a>:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("By 0 index : ", ser[0])

In [ ]:
ser[0:6]

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64

In [ ]:
# Slicing data from 0 to 6 by step 2
ser[0:6:2]

a    0
c    2
e    4
dtype: int64

In [ ]:
ser

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
j    9
dtype: int64

In [ ]:
# Slicing data using characters
ser['a':'i']

a    0
b    1
c    2
d    3
e    4
f    5
g    6
h    7
i    8
dtype: int64

In [ ]:
ser['a':'i' :3 ]

a    0
d    3
g    6
dtype: int64

In [ ]:
ser = pd.Series(data=intArr, index=['mahmoud', 'b','ac', 'd', 'ahmad', 'ahmad', 'ahmad', 'h', 'i', 'ahmad'])
ser

mahmoud    0
b          1
ac         2
d          3
ahmad      4
ahmad      5
ahmad      6
h          7
i          8
ahmad      9
dtype: int64

In [ ]:
ser['mahmoud':'i']

mahmoud    0
b          1
ac         2
d          3
ahmad      4
ahmad      5
ahmad      6
h          7
i          8
dtype: int64

In [ ]:
ser['mahmoud':'h']

mahmoud    0
b          1
ac         2
d          3
ahmad      4
ahmad      5
ahmad      6
h          7
dtype: int64

In [ ]:
ser

mahmoud    0
b          1
ac         2
d          3
ahmad      4
ahmad      5
ahmad      6
h          7
i          8
ahmad      9
dtype: int64

In [ ]:
ser['mahmoud':'ahmad']

KeyError: "Cannot get right slice bound for non-unique label: 'ahmad'"

In [ ]:
ser = pd.Series(data = [10, 20,30], index=[1, 5 , 68])

In [ ]:
ser

1     10
5     20
68    30
dtype: int64

In [ ]:
ser[1]

10

In [ ]:
ser[2]

KeyError: 2

In [ ]:
ser

1     10
5     20
68    30
dtype: int64

In [ ]:
list(range((len(ser))))

[0, 1, 2]

In [ ]:
for i in range(len(ser)):
  print(ser[i])

KeyError: 0

In [ ]:
ser.index

Index([1, 5, 68], dtype='int64')

In [ ]:
for i in ser.index:
  print(i, " : " , ser[i])

1  :  10
5  :  20
68  :  30

### **2.2** Boolean Indexing

In [ ]:
ser

1     10
5     20
68    30
dtype: int64

In [ ]:
# Return boolean values based on data wich greater than 5
ser > 15

1     False
5      True
68     True
dtype: bool

In [ ]:
# Return value from Series where have True value
ser[ ser > 15 ]

5     20
68    30
dtype: int64

Statistics in Pandas

In [ ]:
# Get mean value from thr Series
print("Mean value : ", ser.mean())

Mean value :  20.0

In [ ]:
# Get mean value from thr Series
print("Standard Deviation : ", ser.std())

Standard Deviation :  10.0

In [ ]:
print("Quantiles values : ")
print("Q1 : ", ser.quantile(0.25))
print("Q2 : ", ser.quantile(0.50))
print("Q3 : ", ser.quantile(0.75))

Quantiles values :
Q1 :  15.0
Q2 :  20.0
Q3 :  25.0

In [ ]:
ser.quantile(0.95)

29.0

In [ ]:
ser

1     10
5     20
68    30
dtype: int64

In [ ]:
'a' in ser.values

False

In [ ]:
30 in ser.values

True

In [ ]:
1 in ser.index

True

# **Data-Frames**

![image.png]()

A **Pandas DataFrame** is a two-dimensional, tabular data structure similar to an Excel spreadsheet or SQL table. It consists of rows and columns, where each column can hold different data types, such as integers, strings, floats, or objects.

### Key Features of a DataFrame:
- **Heterogeneous Data**: Different columns in a DataFrame can hold different data types.
- **Labeled Indexes**: Each row and column has an index label for easy data access.
- **Size Mutable**: Both the size and the data in a DataFrame can be modified (you can add/remove rows and columns).
- **Data Alignment**: DataFrame automatically aligns data by its labels when performing operations between DataFrames.

You can create a DataFrame using different inputs like dictionaries, lists, or other DataFrames.

## **1- Create Data-Frame**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Create empty Data-Frame
df = pd.DataFrame()

In [ ]:
df

Empty DataFrame
Columns: []
Index: []

### **1.1**- Create Data-Frame from list

In [ ]:
a=np.array([['Mahmoud',98.0],['Ahmad',79.7],['Rand',80.9]])
a.shape

(3, 2)

In [ ]:
# Crate Data-Frame from 2D lists
data_1 = [['Mahmoud',98.0,"Just"],['Ahmad',79.7,"JU"],['Rand',80.9,"Just"]]
df = pd.DataFrame(data = data_1, columns=["name", "gpa","Uni"])

In [ ]:
df

      name   gpa   Uni
0  Mahmoud  98.0  Just

### **1.2**- Create Data-Frame from dictionary

In [ ]:
data = {'Name':['Omdeh', 'Ahmad', 'Bigo', 'Malik'],
        'Age':[21,21,20,22]}

data

{'Name': ['Omdeh', 'Ahmad', 'Bigo', 'Malik'], 'Age': [21, 21, 20, 22]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

    Name  Age
0  Omdeh   21
1  Ahmad   21
2   Bigo   20
3  Malik   22

### **1.3-** Create a DataFrame from List of Dicts

In [ ]:
data = [{'a': 5, 'b': 10, 'c': 20}, {'a': 1, 'b': 2}, {'a': 50, 'b': 50, 'c': 50}]
df = pd.DataFrame(data)

In [ ]:
df

    a   b     c
0   5  10  20.0
1   1   2   NaN
2  50  50  50.0

In [ ]:
# Create Data-Frame from list of dictionaries where keys are different from dictionary to another
data = [{'a': 5, 'b': 10, 'c': 20}, {'a': 1, 'b': 2}, {'a': 50, 'b': 50, 'c': 50, 'd':0}]
df = pd.DataFrame(data)
df

    a   b     c    d
0   5  10  20.0  NaN
1   1   2   NaN  NaN
2  50  50  50.0  0.0

### **1.4-** Create a DataFrame from Series

In [ ]:
# Create Data-Frame from Series with index

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data = d)

In [ ]:
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
# Create Data-Frame from Series with index

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'f'])}

df = pd.DataFrame(data = d)

In [ ]:
df

   one  two  three
a  1.0  1.0    1.0
b  2.0  2.0    2.0
c  3.0  3.0    3.0
d  NaN  4.0    NaN
f  NaN  NaN    4.0

In [ ]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
   'three' : pd.Series([1, 2, 3, 4])}

df = pd.DataFrame(data = d)
df

   one  two  three
a  1.0  1.0    NaN
b  2.0  2.0    NaN
c  3.0  3.0    NaN
d  NaN  4.0    NaN
0  NaN  NaN    1.0
1  NaN  NaN    2.0
2  NaN  NaN    3.0
3  NaN  NaN    4.0

In [ ]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(data = d)
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

## **2- Add Column into Data-Frame**

In [ ]:
df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
# Add column by Series
df["three"] = pd.Series([10,20,30],index=['a','b','c'])

In [ ]:
df

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [ ]:
# Add column by constant
df["four"] = 4

In [ ]:
df

   one  two  three  four
a  1.0    1   10.0     4
b  2.0    2   20.0     4
c  3.0    3   30.0     4
d  NaN    4    NaN     4

## **3- Delete Column from Data-Frame**

In [ ]:
# using del function
del df["four"]

print(df)

   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

In [ ]:
# using pop
d = df.pop("two")

In [ ]:
print(d)
print()
type(d)

a    1
b    2
c    3
d    4
Name: two, dtype: int64

pandas.core.series.Series

In [ ]:
df

   one  three
a  1.0   10.0
b  2.0   20.0
c  3.0   30.0
d  NaN    NaN

In [ ]:
df["five"] = 5
df

   one  three  five
a  1.0   10.0     5
b  2.0   20.0     5
c  3.0   30.0     5
d  NaN    NaN     5

In [ ]:
df.drop(["five"], axis=1)

   one  three
a  1.0   10.0
b  2.0   20.0
c  3.0   30.0
d  NaN    NaN

In [ ]:
df

   one  three  five
a  1.0   10.0     5
b  2.0   20.0     5
c  3.0   30.0     5
d  NaN    NaN     5

In [ ]:
df.drop(["five"], axis=1, inplace=True)
df

   one  three
a  1.0   10.0
b  2.0   20.0
c  3.0   30.0
d  NaN    NaN

## **4- Create Data-Frame from csv file**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
# Return first n of rows from Data-Frame
# head()
# By default return first 5 rows

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
# Return first 3 rows
df.head(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0

In [ ]:
df.head(9)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0

In [ ]:
# Return last n of rows from Data-Frame
# tail()
# By default return last 5 rows

df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
# Return the last row in Data-Frame
df.tail(1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df.head(-1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0

In [ ]:
df.tail(-1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
# Get shape of Data-Frame
df.shape

(17000, 9)

## **5- Access Data**

Select Rows by label/column name

loc : location

In [ ]:
# Get columns names from Data-Frame
df.columns

list(df.columns)

In [ ]:
# Select from one column
df.loc[ : , 'longitude']

In [ ]:
df.loc[5:15 , 'longitude']

In [ ]:
ser = df.loc[10:20:2 , 'longitude']

print(ser)

In [ ]:
ser[11]

In [ ]:
# Select from multiple columns
df.loc[ :10 , ['total_rooms','total_bedrooms', 'population']]

iloc : index location

In [ ]:
# Select one column by column index
df.iloc[ :10 , 2 ]

In [ ]:
# Select multiple columns by columns indecies
df.iloc[:10 , [ 2 , 5 , 7] ]

In [ ]:
df.columns

In [ ]:
# Select multiple columns by slicing columns indecies
df.iloc[:10 , 2:8]

In [ ]:
# Select multiple columns by slicing columns indecies with steps
df.iloc[:10:2 , 2:8:2]

In [ ]:
df.iloc[: , :-1]

In [ ]:
df

Describe data in Data-Frame

In [ ]:
# Describe all numaric data in Data-Frame
df.describe()

In [ ]:
desc = df.describe()

In [ ]:
# Get the type of desc
type(desc)

In [ ]:
# Get columns
desc.columns

In [ ]:
# Get indecies in desc Data-Frame
desc.index

In [ ]:
# Get shape of data
desc.shape

In [ ]:
desc

Slicing data from Data-Frame

In [ ]:
desc["longitude"]

In [ ]:
desc['max']

In [ ]:
desc['max':'max']

In [ ]:
desc

In [ ]:
desc['std':]

In [ ]:
desc['std': 'std']

In [ ]:
desc[: 'count']

In [ ]:
desc

In [ ]:
desc[1:4]

In [ ]:
desc[:8:2]

In [ ]:
desc[:8:2, 0:2]

In [ ]:
desc.iloc[:8:2, 0:2]

In [ ]:
desc[:8:2]

In [ ]:
desc[:8:2][:3]

In [ ]:
desc[:8:2][:3][0:1]

In [ ]:
desc[:8:2][:3]["median_house_value"]

In [ ]:
desc[:8:2][:3]["std" :"std"]["median_house_value"]

In [ ]:
desc[:4][["median_house_value", "longitude"]]

In [ ]:
desc[["median_house_value", "longitude"]][:4]

In [ ]:
df

In [ ]:
# Return the mean of median_house_value
print(df["median_house_value"].mean())
print(df.loc[: , ["median_house_value"]].mean())

In [ ]:
type(df["median_house_value"])

In [ ]:
df["median_house_value"].mean()

In [ ]:
type(df.loc[: , ["median_house_value"]])

In [ ]:
df.loc[: , ["median_house_value"]].mean()

In [ ]:
type(df.loc[: , ["median_house_value"]].mean())

In [ ]:
df.mean()

In [ ]:
df.iloc[:, -1 ]

In [ ]:
type(df.iloc[:, -1 ])

In [ ]:
df.iloc[:, [-1] ]

In [ ]:
type(df.iloc[:, [-1] ])

In [ ]:
df.iloc[:, -1 ].std()

In [ ]:
# Return the std of last column  using column index
df.iloc[:, [-2, -1] ].std()

In [ ]:
type(df.iloc[:, [-2, -1] ].std())

In [ ]:
df.shape

In [ ]:
df_shape = df.shape

print(df_shape)

In [ ]:
df_shape[0]

In [ ]:
df_shape[1]

In [ ]:
df_shape[0] * df_shape[1]

In [ ]:
df.size

In [ ]:
type(df.values)

In [ ]:
df.to_numpy()

In [ ]:
import numpy as np

In [ ]:
# Create ndarray with the same shape of Data-Frame

# Solution 1

arr1 = np.arange(df_shape[0] * df_shape[-1]).reshape(df_shape)
print(arr1.shape)

# Solution 2
arr2 = np.arange(df.size).reshape(df_shape)
print(arr2.shape)


# Solution 3
arr3 = np.array([0])
arr3 = np.resize(arr3, (df_shape))
print(arr3.shape)


# Solution 4
arr4 = np.ones(df_shape)
print(arr4.shape)

In [ ]:
df

In [ ]:
df.shape[0]

In [ ]:
# Loop on rows in Data-Frame
# print median_house_value when total_rooms = 2000

for i in df.index : # range(df.shape[0]):
  if df.loc[i, "total_rooms"] == 2000:
    print(df.loc[i, "median_house_value"])

In [ ]:
df.loc[1, "total_rooms"]

In [ ]:
df.columns

In [ ]:
counter = 0
for i in range(df.shape[0]):
  if df.loc[i, "housing_median_age"] >= 37:
    counter+=1

print(counter)

In [ ]:
list(enumerate(["a", "b", "c"]))

In [ ]:
list(enumerate(["a", "b", "c"]))[0]

In [ ]:
list(df.iterrows())

In [ ]:
list(df.iterrows())[0]

In [ ]:
list(df.iterrows())[0][1]

In [ ]:
for idx, row in df.iterrows():
  if row["total_rooms"] == 2000:
    print(row["median_house_value"])

In [ ]:
df["total_rooms"] == 2000

In [ ]:
df[df["total_rooms"] == 2000]

In [ ]:
df[df["total_rooms"] == 2000]["median_house_value"]

In [ ]:
# Return Data-Frame where median_house_value greater than the mean of median_house_value

In [ ]:
df[df["median_house_value"] >= df["median_house_value"].mean()]

In [ ]:
df[df.loc[:, "median_house_value"] > df.loc[:, "median_house_value"].mean()]["population"]

In [ ]:
df[df.loc[:, "median_house_value"] > df.loc[:, "median_house_value"].mean()].shape[0]

In [ ]:
df[df.loc[:, "median_house_value"] <= df.loc[:, "median_house_value"].mean()].shape[0]

In [ ]:
6891 / 17000

In [ ]:
10109 / 17000

Data-Frame size : Number of elements in the Data-Frame

In [ ]:
print(df.size)
print(df.shape[0] * df.shape[1]) # n rows * n columns

Data-Frame data types : return data type for each column in Data-Frame

In [ ]:
df.dtypes

Transpose Data-Frame

In [ ]:
desc

In [ ]:
# Transpose desc Data-Frame
dfTransposedDesc = desc.T

In [ ]:
dfTransposedDesc

In [ ]:
dfTransposedDesc.columns

In [ ]:
dfTransposedDesc.index

In [ ]:
dfTransposedDesc["mean"]

In [ ]:
# df[columns][rows]
dfTransposedDesc["mean"]["longitude"]

In [ ]:
dfTransposedDesc["mean"][0:3]

In [ ]:
dfTransposedDesc["mean"][["longitude", "population"]]

In [ ]:
dfTransposedDesc["min"][["longitude", "population"]]

In [ ]:
df

Empty : Returns the Boolean value saying whether the Object is empty or not; True indicates that the object is empty.

In [ ]:
df_temp = pd.DataFrame()

In [ ]:
df_temp.empty

In [ ]:
df.empty

In [ ]:
df

## **6- Manipulate with Missing Data**

**Manipulate with missing data**

In [ ]:
import pandas as pd
import numpy as np

Check null values in Data-Frame

In [ ]:
data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
        'three' :  pd.Series([10,20,30],index=['a','b','c']) }

df_temp = pd.DataFrame(data)
df_temp

In [ ]:
type(df_temp["three"]['d'])

In [ ]:
df_temp.isnull()

In [ ]:
~ df_temp["one"].isnull()

In [ ]:
df_temp[~ df_temp["one"].isnull()]

In [ ]:
df_temp.notnull()

In [ ]:
pd.isnull(df_temp)

Fill NaN

In [ ]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))

df

In [ ]:
# Fill NaN values with 0s.

df.fillna(value = 0)

In [ ]:
df

In [ ]:
df["C"].mean()

In [ ]:
df["B"].mean()

In [ ]:
# Fill all NaN values with with mean value of specific column

df.fillna(value = df["B"].mean() )

In [ ]:
df

In [ ]:
# Replace all NaN elements in column A, B, C, and D, with 0, 1, 2, and 3 respectively.
values = {"A": 0, "B": 1, "C": 2, "D": 3}

df.fillna(value = values)

In [ ]:
values = {"A": df["A"].mean(), "B": df["B"].mean(), "C": df["C"].mean(), "D": df["D"].mean()}
df.fillna(value = values)

In [ ]:
df_2 = df.copy()
for col in df_2.columns:
  df_2[col] = df_2[col].fillna(value=df_2[col].mean())
df_2

In [ ]:
df_2

In [ ]:
df.columns

In [ ]:
dict_values = {}

for col in list(df.columns) :
  dict_values[col] = df[col].mean()

print(dict_values)
print(df.fillna(value = dict_values))

In [ ]:
# for col in list(df.columns):
#   df[col].fillna(value = df[col].mean(), inplace=True )

# print(df)

In [ ]:
df

In [ ]:
values = {'A': 3.0, 'B': 3.0, 'C': 5, 'D': 1.7}

In [ ]:
# Only replace the first NaN element.

df.fillna(value=values, limit=1)

In [ ]:
df

In [ ]:
# Only replace the first two NaN element.

df.fillna(value=values, limit=2)

In [ ]:
df = pd.DataFrame([[np.nan, 2, np.nan, 0],
                   [3, 4, np.nan, 1],
                   [np.nan, np.nan, np.nan, np.nan],
                   [np.nan, 3, np.nan, 4]],
                  columns=list("ABCD"))

In [ ]:
df

In [ ]:
# Fill forward

print(df)

print()

print(df.fillna(method = 'ffill', axis=0))

In [ ]:
print(df)

print()

print(df.fillna(method = 'ffill', axis=1))

In [ ]:
df

In [ ]:
print(df)

print()

print(df.fillna(method = 'bfill', axis=0 ))

In [ ]:
print(df)

print()

print(df.fillna(method = 'bfill', axis=1))

Filling using a DataFrame, replacement happens along the same column names and same indices

In [ ]:
df

In [ ]:
df2 = pd.DataFrame(np.zeros((4,4 )), columns=list("ABCE"), index=[0,1,"c","d"])
df2

In [ ]:
df.fillna(df2)

Note that column D is not affected since it is not present in df2.

In [ ]:
df = pd.DataFrame({
    'Postal Address': ['New York', np.nan, 'London', 'Mumbai', np.nan],
    'Permanent Address': ['Miami', 'Amsterdam', 'London', 'Rajkot', 'Sydney']
})
print(df)

In [ ]:
df['Postal Address'].fillna(df['Permanent Address'])

In [ ]:
df

In [ ]:
# inplace : Modify on the same object
df['Postal Address'].fillna(df['Permanent Address'], inplace=True)

In [ ]:
df

Drop NaN values fom Data-Frame/

In [ ]:
#   dropna function along with the axis argument

#   By default, axis=0

#   if any value within a row is NA then the whole row is excluded

In [ ]:
df = pd.DataFrame(data = np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],
                  columns=['one', 'two', 'three'])

print(df)

In [ ]:
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

print(df)

In [ ]:
df.dropna(axis=0)

In [ ]:
df.dropna(axis =1)

In [ ]:
df

Replace data in Data-Frame

In [ ]:
df

In [ ]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000], 'two':[1000,0,30,40,50,60]})

df

In [ ]:
# Replace one value

df.replace(1000, 1500 )

In [ ]:
# Replace multiple value
df.replace( { 1000:1500 , 0 :2222 } )

In [ ]:
df

## **7- Data Grouping**

Split data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Anuj', 'Jai', 'Princi','Gaurav', 'Anuj', 'Princi', 'Abhi'],
		     'Age':[27, 24, 22, 32,33, 36, 27, 32],
		     'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
				 'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'],
		     'Qualification':['Msc', 'MA', 'MCA', 'Phd','B.Tech', 'B.com', 'Msc', 'MA'],
         'Salary' : [400, 600, 500, 600, 550, 370, 800, 1000]}


# Create Data-Frame from dictionary of data
df = pd.DataFrame(data)

print(df)

In [ ]:
# In order to split the data, we use groupby() function
# this function is used to split the data into groups based on some criteria

In [ ]:
df.groupby('Name').groups

In [ ]:
# group the data on Name value.
groupByName = df.groupby("Name")

In [ ]:
# first function return Data-Frame of first entries in all the groups formed
groupByName.first()

In [ ]:
# last function return Data-Frame of the last entries in all the groups formed
groupByName.last()

In [ ]:
# print each group name with data
for name, group in groupByName:
  print(name)
  print(group)

In [ ]:
groupByQualification = df.groupby("Qualification")

In [ ]:
for name, group in groupByQualification:
  print(name)
  print(group)

In [ ]:
#  get_group function retun Data-Frame based on group name
groupByQualification.get_group('MA')

Grouping data with multiple keys

In [ ]:
group = df.groupby(['Name', 'Qualification'])

In [ ]:
group.groups

In [ ]:
# return Data-Frame based on ('Princi', 'Msc') group name
group.get_group(('Princi', 'Phd'))

In [ ]:
df.groupby(['Qualification']).sum()

Applying function to a group

Aggregation is a process in which we compute a summary statistic about each group

In [ ]:
# 1- Aggregation
#  Aggregated function returns a single aggregated value for each group

In [ ]:
# performing aggregation using aggregate method
group_1 = df.groupby('Name')

In [ ]:
group_1.aggregate(np.sum)

In [ ]:
df.groupby(['Name', 'Qualification']).aggregate(np.sum)

In [ ]:
# Apply a multiple functions by passing a list of functions.
df.groupby(['Name']).aggregate([np.sum, np.mean, np.std])

In [ ]:
df.groupby(['Qualification']).aggregate([np.sum, np.mean, np.std])

In [ ]:
# Apply a different aggregation to the columns of a dataframe.
df.groupby(['Qualification']).aggregate({'Age' : np.sum, 'Salary' : [np.sum, np.mean]})

## **8- Function Application**

pipe : Table wise Function Application

apply : Row or Column Wise Function Application

applymap : Element wise Function Application

In [ ]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
print(df)

In [ ]:
def adder(num1,num2):
   return num1+num2


def addFive(num):
  return num + 5

In [ ]:
df

In [ ]:
# pipe
df.pipe(addFive)

In [ ]:
df

In [ ]:
df.pipe(adder, 2)

In [ ]:
df + 2

Apply

In [ ]:
df

In [ ]:
df["col4"] = df["col3"].apply(addFive)
print(df)

In [ ]:
df[["col2","col3"]].apply(addFive)

In [ ]:
df[["col2","col3"]].pipe(adder, 2)

In [ ]:
df['col2'].pipe(adder, df['col3'])

In [ ]:
df['col2']+df["col3"]

In [ ]:
data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
        'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
        'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
        'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
        'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}

df = pd.DataFrame(data)

print(df)

In [ ]:
dict_teams_nums = {"Riders" : 0,
          "Devils" : 1,
          "kings"  : 2,
          "Kings"  : 3,
          "Royals" : 4}

In [ ]:
dict_teams_nums["Royals"]

In [ ]:
{"Riders" : 0,
          "Devils" : 1,
          "kings"  : 2,
          "Kings"  : 3,
          "Royals" : 4}["Royals"]

In [ ]:
def getTeamNumer(team):
  return {"Riders" : 0,
          "Devils" : 1,
          "kings"  : 2,
          "Kings"  : 3,
          "Royals" : 4} [team]

In [ ]:
df

In [ ]:
df['Team'].apply(getTeamNumer)

In [ ]:
type(df['Team'].apply(getTeamNumer))

In [ ]:
df["intTeam"] = df['Team'].apply(getTeamNumer)

In [ ]:
df

In [ ]:
df["Team"]

In [ ]:
df.Team.value_counts()

In [ ]:
type(df.Team.value_counts())

In [ ]:
df.Team.value_counts().to_frame()

In [ ]:
df.Team.value_counts().to_dict()

In [ ]:
df.Team.value_counts().to_csv()